<% var defaultBg = '#d1e1e1'; %>
<div class="overlay" style="background: #d1e1e1">
	<nav class="">
		<div class="weatherInfo social"></div>
	</nav>
	<img src="https://ganchengyuan1990.github.io/blog/img/sunny.png" alt="">
</div>
<div class="intrude-less">
	<header id="header" class="inner">
		<a href="/blog" class="profilepic">
			<img src="<%=theme.avatar%>" class="js-avatar">
		</a>
		<hgroup>
		  <h1 class="header-author"><a href="/blog"><%=theme.author%></a></h1>
		  <div class="dianzan"><span>хсня</span></div>
		</hgroup>
		<% if (theme.subtitle){ %>
		<p class="header-subtitle"><%=theme.subtitle%></p>
		<%}%>

		<nav class="header-menu">
			<ul>
			<% for (var i in theme.menu){ %>
				<li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
	        <%}%>
			</ul>
		</nav>
		<nav class="header-smart-menu">
    		<% for (var i in theme.smart_menu){ %>
    			<% if(theme.smart_menu[i]){ %>
    			<a q-on="click: openSlider(e, '<%-i%>')" href="javascript:void(0)"><%= theme.smart_menu[i] %></a>
    			<% } %>
            <%}%>
		</nav>
		<nav class="header-nav">
			<div class="social">
				<% for (var i in theme.subnav){ %>
					<a class="<%= i %>" target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"><i class="icon-<%= i %>"></i></a>
		        <%}%>
			</div>
		</nav>
		<!-- <nav class="zhuabao header-nav">
			<div class="social">
				<% for (var i in theme.zhuabao){ %>
					<a class="special" target="_blank" href="https://www.baidu.com" title="<%= i %>"><span><%= i %></span></a>
		        <%}%>
		    </div>
		</nav> -->
		<div class="clock">
		  <div class="numbers">
		    <ul>
		      <li>12</li>
		      <li>3</li>
		      <li>6</li>
		      <li>9</li>
		    </ul>
		  </div>
		  <div class="clockwise">
		    <div class="center"></div>
		    <div class="hand-second" id="analogsecond" style="transform: rotate(258deg);"></div>
		    <div class="hand-minute" id="analogminute" style="transform: rotate(280deg);"></div>
		    <div class="hand-hour" id="analoghour" style="transform: rotate(473deg);"></div>
		  </div>
		</div>
	</header>		
</div>
